@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600);

* {border-radius: 0px !important;}
body {font-family: 'Open Sans', sans-serif;}
.wrapper {
  background-color: #EEEEEE;
}
#unit {
  cursor: pointer;
  color: #19B5FE;
}
